=render "email_marketing/admin/shared/menu"
%h1.page-header Templates
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nombre
  %tbody
    -@templates.each do |template|
      %tr
        %td=link_to template["name"], admin_marketing_template_path(template["slug"])
