=render "email_marketing/admin/shared/menu"
%h1.page-header Envíos

=link_to "Nuevo", new_admin_marketing_delivery_path, class: "btn btn-primary"
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Nombre
  %tbody
    -@deliveries.each do |delivery|
      %tr
        %td=delivery["name"]
