=render "email_marketing/admin/shared/menu"
%h1.page-header Lista - #{params[:id]}
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Email
  %tbody
    -@emails.each do |email|
      %tr
        %td= email["email"]
