%ul.nav.nav-pills
  %li.admin_marketing_lists= link_to "Listas", admin_marketing_lists_path
  %li.admin_marketing_templates= link_to "Templates", admin_marketing_templates_path
  %li.admin_marketing_deliveries= link_to "Envios", admin_marketing_deliveries_path



:coffeescript
  $ ->
    class_name = ".admin_#{controller_name}"
    console.log class_name
    $(class_name).addClass("active")
